*.aux
*.conf
Makefile
*.vo
*.vok
*.vos
*.glob
*.Makefile.d
.lia.cache
.DS_Store
first_generated.v
second_generated.v
/combine.v
*.cmi
*.cmo
*.cmx
*.cma
*.cmxa
a.out
smt_query
/_build/
/extracted_code/*.ml*
!/extracted_code/Interface.ml
!/extracted_code/Z3Example.ml
!/extracted_code/Z3Solver.ml
!/extracted_code/EqCheck.ml
